<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/produtos/novo}">Cadastro de produto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/produtos}">Lista de produto</a>
        </li>
    </ul>
</nav>

</html>